#root {
  text-align: center;
  width: 100%;
}

#header {
  background-color: green;
  grid-area: header;
}

#sidebar {
  background-color: yellow;
  grid-area: sidebar;
}

#body {
  background-color: orange;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#footer {
  background-color: yellow;
  grid-area: footer;
}

#container {
  height: 100%;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
}

.card {
  padding: 2em;
}

#remoteBodyComponent1 {
  background-color: red;
}

#remoteBodyComponent2 {
  background-color: aqua;
}

#localWebComponent {
  background-color: purple;
}

#remoteWebComponent {
  background-color: aqua;
}

#remoteWebComponentWithReact {
  background-color: blue;
}
